body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
}
main{
    width: 500px;
    background-color:teal;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    border-radius: 8px;
}
.title{
    margin: 0;
    color: white;
    margin-bottom: 20px;
}
.btn{
    background-color: lightpink;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}
.btn:hover{
    opacity: 1;
}
.print{
    margin: 0;
    color: white;
    text-align: center;
}
footer{
    min-height: 100px;
    margin-top: auto;
    color: white;
}
footer a{
    color:teal;
}